## Выборки и агрегации

### 1. Загрузите файл JSON, созданный в предыдущем упражнении, в фрейм данных
- установить CarNumber в качестве индексного столбца

In [1]:
import pandas as pd

df = pd.read_json('../data/auto.json')
df.set_index('CarNumber', inplace=True)
print(df)

              Refund         Fines    Make    Model
CarNumber
Y163O8161RUS       2   3200.000000    Ford    Focus
E432XX77RUS        1   6500.000000  Toyota    Camry
7184TT36RUS        1   2100.000000    Ford    Focus
X582HE161RUS       2   2000.000000    Ford    Focus
E34877152RUS       2   6100.000000    Ford    Focus
...              ...           ...     ...      ...
Y163O8161RUS       2   1600.000000    Ford    Focus
M0309X197RUS       1  22300.000000    Ford    Focus
O673E8197RUS       2    600.000000    Ford    Focus
8610T8154RUS       1   2000.000000    Ford    Focus
H419XE197RUS       2   7860.989643  Toyota  Corolla

[931 rows x 4 columns]

### 2. Сделайте следующий выбор
- отображать только те строки, где штрафы превышают 2100
- отображать только те строки, где штрафы больше 2100, а возврат равен 2
- отображать только те строки, где есть модели из списка:[’Focus’, ’Corolla’]
- отображать только те строки, где номер автомобиля есть из списка: [’Y7689C197RUS’, ’92928M178RUS’, ’7788KT197RUS’, ’H115YO163RUS’, ’X758HY197RUS’]

In [2]:
fines_above_2100 = df[df['Fines'] > 2100]
fines_above_2100_return_2 = df[(df['Fines'] > 2100) & (df['Refund'] == 2)]
models_focus_corolla = df[df['Model'].isin(['Focus', 'Corolla'])]
car_numbers_list = ['Y7689C197RUS', '92928M178RUS', '7788KT197RUS', 'H115YO163RUS', 'X758HY197RUS']
specific_car_numbers = df.loc[car_numbers_list]
print(f"Штрафы превышают 2100: \n{fines_above_2100}")
print(f"\nШтрафы превышают 2100, а возврат равен двум: \n{fines_above_2100_return_2}")
print(f"\nТолько Фокусы и Короллы: \n{models_focus_corolla}")
print(f"\nОсобые номера авто: \n{specific_car_numbers}")

Штрафы превышают 2100:
              Refund         Fines        Make    Model
CarNumber
Y163O8161RUS       2   3200.000000        Ford    Focus
E432XX77RUS        1   6500.000000      Toyota    Camry
E34877152RUS       2   6100.000000        Ford    Focus
92918M178RUS       1   5700.000000        Ford    Focus
X4128H125RUS       1   7860.989643        Ford    Focus
...              ...           ...         ...      ...
O718MM163RUS       2   7860.989643        Ford    Focus
7065C8197RUS       2  11400.000000  Volkswagen   Passat
O22097197RUS       1  24300.000000        Ford    Focus
M0309X197RUS       1  22300.000000        Ford    Focus
H419XE197RUS       2   7860.989643      Toyota  Corolla

[562 rows x 4 columns]

Штрафы превышают 2100, а возврат равен двум:
              Refund         Fines        Make    Model
CarNumber
Y163O8161RUS       2   3200.000000        Ford    Focus
E34877152RUS       2   6100.000000        Ford    Focus
H234YH197RUS       2   6000.000000        Ford    Focus
707987163RUS       2   2200.000000        Ford    Focus
K330T8197RUS       2   8200.000000       Skoda  Octavia
...              ...           ...         ...      ...
O136HO197RUS       2   7800.000000      Toyota  Corolla
O68897197RUS       2  12300.000000        Ford    Focus
O718MM163RUS       2   7860.989643        Ford    Focus
7065C8197RUS       2  11400.000000  Volkswagen   Passat
H419XE197RUS       2   7860.989643      Toyota  Corolla

[382 rows x 4 columns]

Только Фокусы и Короллы:
              Refund         Fines    Make    Model
CarNumber
Y163O8161RUS       2   3200.000000    Ford    Focus
7184TT36RUS        1   2100.000000    Ford    Focus
X582HE161RUS       2   2000.000000    Ford    Focus
E34877152RUS       2   6100.000000    Ford    Focus
92918M178RUS       1   5700.000000    Ford    Focus
...              ...           ...     ...      ...
Y163O8161RUS       2   1600.000000    Ford    Focus
M0309X197RUS       1  22300.000000    Ford    Focus
O673E8197RUS       2    600.000000    Ford    Focus
8610T8154RUS       1   2000.000000    Ford    Focus
H419XE197RUS       2   7860.989643  Toyota  Corolla

[763 rows x 4 columns]

Особые номера авто:
              Refund          Fines  Make  Model
CarNumber
Y7689C197RUS       1   27000.000000  Ford  Focus
Y7689C197RUS       2    9000.000000  Ford  Focus
Y7689C197RUS       2   45000.000000  Ford  Focus
Y7689C197RUS       1   36000.000000  Ford  Focus
92928M178RUS       1    7860.989643  Ford  Focus
92928M178RUS       2    1200.000000  Ford  Focus
92928M178RUS       1     600.000000  Ford  Focus
92928M178RUS       1    1200.000000  Ford  Focus
92928M178RUS       2    3000.000000  Ford  Focus
7788KT197RUS       2   12000.000000  Ford  Focus
7788KT197RUS       2    7860.989643  Ford  Focus
7788KT197RUS       1   20000.000000  Ford  Focus
7788KT197RUS       2    4000.000000  Ford  Focus
H115YO163RUS       1    2200.000000  Ford  Focus
H115YO163RUS       1    7860.989643  Ford  Focus
H115YO163RUS       2    1100.000000  Ford  Focus
X758HY197RUS       2   24200.000000  Ford  Focus
X758HY197RUS       2   72600.000000  Ford  Focus
X758HY197RUS       2  145200.000000  Ford  Focus

### 3. Сделать агрегации с маркой и моделью
- отобразить средние штрафы, сгруппированные по маркам
- отобразить средние штрафы, сгруппированные по марке и модели
- отобразить количество штрафов, сгруппированных по марке и модели, чтобы понять, можно ли доверять медианным значениям
- отображать минимальные и максимальные штрафы, сгруппированные по марке и модели, чтобы лучше понять разницу
- отображать стандартное отклонение штрафов, сгруппированных по марке и модели, чтобы лучше понять дисперсию

In [3]:
average_fines_by_make = df.groupby('Make')['Fines'].mean() # Средние штрафы по маркам
average_fines_by_make_model = df.groupby(['Make', 'Model'])['Fines'].mean() # Средние штрафы по марке и модели
count_fines_by_make_model = df.groupby(['Make', 'Model']).size() # Количество штрафов по марке и модели
min_max_fines_by_make_model = df.groupby(['Make', 'Model'])['Fines'].agg(['min', 'max']) # Минимальные и максимальные штрафы по марке и модели
std_fines_by_make_model = df.groupby(['Make', 'Model'])['Fines'].std()

print(f"Средние штрафы по маркам: \n{average_fines_by_make}")
print(f"\nСредние штрафы по марке и модели: \n{average_fines_by_make_model}")
print(f"\nКоличество штрафов по марке и модели: \n{count_fines_by_make_model}")
print(f"\nМинимальные и максимальные штрафы по марке и модели: \n{min_max_fines_by_make_model}")
print(f"\nСтандартное отклонение штрафов по марке и модели: \n{std_fines_by_make_model}")

Средние штрафы по маркам:
Make
Audi          4200.000000
BMW           4672.197929
Ford          7589.610760
Skoda         9232.115458
Toyota        8787.074223
Volkswagen    9400.646450
Volvo         7933.333333
Name: Fines, dtype: float64

Средние штрафы по марке и модели:
Make        Model
Audi                    4200.000000
BMW                     4672.197929
Ford        Focus       7491.072023
            Mondeo     14245.454545
Skoda       Octavia     9232.115458
Toyota      Camry       7186.098964
            Corolla    10388.049482
Volkswagen              5533.333333
            Golf       14862.439586
            Jetta       8387.500000
            Passat      6016.229973
            Touareg     4593.498274
Volvo                   7933.333333
Name: Fines, dtype: float64

Количество штрафов по марке и модели:
Make        Model
Audi                     1
BMW                      5
Ford        Focus      743
            Mondeo      11
Skoda       Octavia     60
Toyota      Camry       20
            Corolla     20
Volkswagen               3
            Golf        25
            Jetta        8
            Passat      26
            Touareg      6
Volvo                    3
dtype: int64

Минимальные и максимальные штрафы по марке и модели:
                       min            max
Make       Model
Audi                4200.0    4200.000000
BMW                 3000.0    7860.989643
Ford       Focus     100.0  180000.000000
           Mondeo   1100.0   46200.000000
Skoda      Octavia   300.0  145000.000000
Toyota     Camry     500.0   22400.000000
           Corolla   900.0   34300.000000
Volkswagen          1300.0    7900.000000
           Golf      200.0  168000.000000
           Jetta     500.0   46000.000000
           Passat    100.0   29700.000000
           Touareg   500.0    7860.989643
Volvo               6800.0   10200.000000

Стандартное отклонение штрафов по марке и модели:
Make        Model
Audi                            NaN
BMW                     2339.764451
Ford        Focus      13680.918377
            Mondeo     15996.084748
Skoda       Octavia    22016.695805
Toyota      Camry       6146.415086
            Corolla     9408.880792
Volkswagen              3674.688195
            Golf       33272.925929
            Jetta      15450.421862
            Passat      6700.834922
            Touareg     2969.976425
Volvo                   1962.990915
Name: Fines, dtype: float64

### 4. Сделать агрегации с номером автомобиля
- вывести номера автомобилей, сгруппированные по количеству штрафов в порядке убывания, мы хотим найти тех, кто чаще всего нарушал закон
- выберите из исходного фрейма данных все строки, соответствующие первому номеру автомобиля, мы хотим немного увеличить масштаб
- вывести номера автомобилей, сгруппированные по сумме штрафов в порядке убывания, мы хотим найти тех, кто заплатил больше всего
- выберите из исходного фрейма данных все строки, соответствующие первому номеру автомобиля, мы хотим немного увеличить масштаб
- отобразить таблицу, которая отвечает на вопрос: есть ли номера автомобилей, которые были связаны с разными моделями?

In [4]:
car_numbers_by_fines_count = df.groupby('CarNumber').size().sort_values(ascending=False)

top_car_number = car_numbers_by_fines_count.index[0]
top_car_number_data = df.loc[top_car_number]

car_numbers_by_fines_sum = df.groupby('CarNumber')['Fines'].sum().sort_values(ascending=False)

top_car_number_by_sum = car_numbers_by_fines_sum.index[0]
top_car_number_data_by_sum = df.loc[top_car_number_by_sum]

car_numbers_with_multiple_models = df.groupby('CarNumber')['Model'].nunique()
car_numbers_with_multiple_models = car_numbers_with_multiple_models[car_numbers_with_multiple_models > 1]

print(f"Номера автомобилей, сгруппированные по количеству штрафов в порядке убывания: \n{car_numbers_by_fines_count}")
print(f"\nВыбор из исходного фрейма данных всех строк, соответствующих первому номеру автомобиля: \n{top_car_number_data}")
print(f"\nНомера автомобилей, сгруппированные по сумме штрафов в порядке убывания: \n{car_numbers_by_fines_sum}")
print(f"\nВыбор из исходного фрейма данных всех строк, соответствующих первому номеру автомобиля: \n{top_car_number_data_by_sum}")
print(f"\nОтображение таблицы: есть ли номера автомобилей, которые были связаны с разными моделями: \n{car_numbers_with_multiple_models}")

Номера автомобилей, сгруппированные по количеству штрафов в порядке убывания:
CarNumber
Y358O8197RUS    5
O017KO197RUS    5
92928M178RUS    5
M0299X197RUS    5
9499KX178RUS    5
               ..
H235YH197RUS    1
H234YH197RUS    1
H220X836RUS     1
H219X836RUS     1
H917TC36RUS     1
Length: 531, dtype: int64

Выбор из исходного фрейма данных всех строк, соответствующих первому номеру автомобиля:
              Refund    Fines  Make  Model
CarNumber
Y358O8197RUS       2  21800.0  Ford  Focus
Y358O8197RUS       2  21800.0  Ford  Focus
Y358O8197RUS       2  21800.0  Ford  Focus
Y358O8197RUS       1  43600.0  Ford  Focus
Y358O8197RUS       2  10900.0  Ford  Focus

Номера автомобилей, сгруппированные по сумме штрафов в порядке убывания:
CarNumber
M0279X197RUS    252000.0
X758HY197RUS    242000.0
9020YC197RUS    217500.0
Y352O8197RUS    207200.0
Y778EE197RUS    192000.0
                  ...
Y195O8161RUS       200.0
8182XX154RUS       200.0
705787163RUS       200.0
C58078163RUS       100.0
Y166O8161RUS       100.0
Name: Fines, Length: 531, dtype: float64

Выбор из исходного фрейма данных всех строк, соответствующих первому номеру автомобиля:
              Refund     Fines  Make  Model
CarNumber
M0279X197RUS       2  180000.0  Ford  Focus
M0279X197RUS       1   36000.0  Ford  Focus
M0279X197RUS       2   36000.0  Ford  Focus

Отображение таблицы: есть ли номера автомобилей, которые были связаны с разными моделями:
CarNumber
E316EH197RUS    2
Name: Model, dtype: int64